/* Reset some default browser styling */
body, h1, p {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

body {
    padding-top: 70px;  /* Adjust based on the height of your navbar. This prevents content from being hidden behind the navbar. */
}

/* Styling the fixed navbar */
.navbar {
    background-color: #000000; /* A dark background color */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;  /* Ensure the navbar remains on top of other content */
}

.navbar .navbar-brand,
.navbar .nav-link {
    color: #f7f7f7; /* A light font color */
}

.navbar .nav-link:hover {
    color: #ffffff; /* A slightly brighter color on hover */
}

.social-links a {
    margin-left: 10px;
    color: #f7f7f7;
    font-size: 24px; /* Adjust based on your preference */
}

.social-links a:hover {
    color: #ffffff; /* Brighten up on hover */
}

/* Styling the hero section */
#hero {
    background: url("https://images.pexels.com/photos/346529/pexels-photo-346529.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2") no-repeat center center fixed;
    background-size: cover; /* This will cover the entire viewport */
    color: #ffffff; /* White text color for contrast */
    height: 100vh; /* Take full viewport height */
    display: flex;
    align-items: center; /* Vertically center content */
}

#hero .display-1 {
    font-size: 7rem; /* A large font size for the main title */
}

#hero p {
    font-size: 1.5rem; /* A larger font size for the subtitle */
    margin-top: 20px; /* Spacing between title and subtitle */
}

#hero .btn {
    margin-top: 30px; /* Spacing between subtitle and button */
    border-color: #ffffff; /* White border for the button */
}
/* SERVICES */
#services {
    padding: 200px 0 50px; /* Increased top padding to 100px */
    background-color: #f7f7f7;
}

#services .intro {
    margin-bottom: 50px;
}

#services .hr-line {
    width: 50px;
    height: 3px;
    background-color: #333;
    margin: 0 auto 20px;
}

#services h1.display-4 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
}

#services p {
    font-size: 1em;
    color: #777;
    max-width: 800px;
    margin: 0 auto;
}

#services .service {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

#services .service:hover {
    transform: translateY(-10px);
}

#services .service .icon {
    font-size: 2em;
    color: #333;
    margin-right: 20px;
}

#services .service h4 {
    font-size: 1.5em;
    margin-bottom: 15px;
    color: #333;
}

#services .service p {
    font-size: 1em;
    color: #666;
    margin-bottom: 15px;
}

#services .service .link-arrow {
    color: #007BFF;  /* You can change this to your primary color */
    transition: color 0.3s ease;
}

#services .service .link-arrow:hover {
    color: #0056b3;  /* You can change this to your primary hover color */
    text-decoration: none;
}

#services .service .link-arrow i {
    margin-left: 5px;
}
/*  */
  
/* General styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
/* Mobile view: screens smaller than 576px */
@media (max-width: 575.98px) {
    #hero .display-1 {
        font-size: 4rem; /* Adjust main title size */
    }
    
    #hero p {
        font-size: 1.2rem; /* Adjust subtitle size */
    }
    
    /* Adjust service icon size for mobile */
    #services .service .icon {
        font-size: 1.5em;
    }
}

/* Tablet view: screens from 576px to 991px */
@media (min-width: 576px) and (max-width: 991.98px) {
    #hero .display-1 {
        font-size: 5rem; /* Adjust main title size */
    }
    
    #hero p {
        font-size: 1.3rem; /* Adjust subtitle size */
    }
    
    /* Adjust service icon size for tablet */
    #services .service .icon {
        font-size: 1.8em;
    }
}
/* image gallery */
.img-fluid {
    margin: 5px;
    transition: transform .2s; /* Animation */
}

.img-fluid:hover {
    transform: scale(1.1);
}


/* CONTACT SECTION */

#contact {
    padding: 80px 0; /* Add padding to top and bottom for spacing */
    background-color: #f9f9f9; /* A light gray background for distinction */
}

#contact .display-4 {
    color: #333; /* Darker color for heading */
    margin-bottom: 20px; /* Space below the main heading */
}

#contact .hr-line {
    width: 60px; /* Control the width of the line */
    height: 3px; /* Height of the line */
    background-color: #333; /* Dark color for the line */
    margin: 0 auto 20px; /* Centering the line and adding space below */
}

#contact form {
    max-width: 600px; /* Control the width of the form */
    margin: 0 auto; /* Centering the form */
}

#contact input, #contact textarea {
    border: 1px solid #ccc; /* Border color for input fields and textarea */
    padding: 10px 15px; /* Padding for input fields and textarea */
    font-size: 16px; /* Font size */
    border-radius: 5px; /* Rounded corners */
    width: 100%; /* Full width */
    transition: border-color 0.3s ease; /* Smooth transition for border color */
}

#contact input:focus, #contact textarea:focus {
    border-color: #333; /* Dark border color when the field is focused */
    outline: none; /* Removing default browser outline */
}

#contact button {
    padding: 10px 20px; /* Padding for the button */
    background-color: #333; /* Dark background color */
    color: #fff; /* White text color */
    border: none; /* Remove default borders */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Hand cursor on hover */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
}

#contact button:hover {
    background-color: #555; /* Lighter dark color on hover */
}
